doctype html
html
    head
        title Aurelia
    body(aurelia-app='/assets/javascript/main.esnext.js')
        script(src='assets/javascript/system.js')
        script(src='assets/javascript/sconfig.js')
        script(src='assets/javascript/aurelia-core.min.js')
        script.
            System.import('aurelia-bootstrapper');
