template
    h1 ${heading}
    form(submit.trigger='addTodo()')
        input(type='text', value.bind='todoDescription')
        button(type='submit') Add Todo
    ul
        li(repeat.for='todo of todos')
            input(type='checkbox', checked.bind='todo.done')
            span ${todo.description}
            button(click.trigger='removeTodo(todo)') Remove
